@media only screen and (max-width: 1024px) {
  html,
  body {
    padding: 0;
  }
  body {
    padding-left: 2px;
    padding-right: 2px;
  }
  .menu_inscrire {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .logo {
    width: 100%;
  }

  .menuNavigation {
    width: 100%;
  }
  .blocFiltre{
    display: flex;
    justify-content: center;
  }

  .buttonSearch span {
    display: none;
  }

  .buttonSearch i {
    display: block;
  }

  .buttonSearch {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 10px 10px;
  }
  .blocfooter {
    margin-top: 50px;
  }
  .hebergements > * {
    height: fit-content;
  }
  .hebergements {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .blocPopulaires {
    width: 100%;
  }
  .imgPopulaires1,
  .imgPopulaires2,
  .imgPopulaires3 {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .blocFiltre {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .info {
    align-items: flex-start;
  }
  .blocHebergements {
    flex-direction: column;
    margin-bottom: 0;
  }
  .sizeHebergements {
    width: 90%;
  }

  .bloc1 {
    margin-bottom: 0;
  }

  .cubePopulaires {
    margin-bottom: 0;
  }

  .cubeHebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocPopulaires{
	  padding-left: 0;
	 
	
	  
  }
  .blocActivites {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .cubeActivites {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocActivites2356 {
    width: 100%;
    height: auto;
  }
  .cubeActivites2356 {
    margin-bottom: 50px;
  }

  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    height: 200px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    border-right: none;
    border-left: none;
    margin-right: 0px;
    margin-left: 0px;
  
  }
}

@media screen and (max-width: 419px) {
  .menuNavigation {
    margin: auto;
  }

  .buttonSearch {
    border-radius: 10px 10px;
  }
  .body {
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;
  }
  .cubeActivites {
  }
  .blocFiltre{
	display: flex;
  }
}
