body {
  width: 90%;
  margin: 0;
  margin: auto;
  font-family: raleway;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body * {
  text-decoration: none;
  color: black;
}

body > * {
  width: 100%;
}

#barre_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#liens_menu {
  display: flex;
  column-gap: 3.5rem;
  height: 100%;
}

.un_lien {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: solid #f2f2f2;
}

#lien_inscrire {
  font-weight: bold;
  color: #0065fc;
}

.un_lien:focus {
  color: #0065fc;
  border-top: solid #0065fc;
}

#bloc_filtre_recherche h1 {
  font-size: 1.5rem;
}

#bloc_recherche {
  display: flex;
  height: 2.5rem;
  width: fit-content;
  width: -moz-max-content;
  border-radius: 1rem;
  overflow: hidden;
  border: solid #f2f2f2;
}

#bloc_recherche * {
  border: none;
  font-weight: bold;
}

#bloc_recherche > input {
  padding-left: 1rem;
}

#bloc_recherche > button {
  background-color: #0065fc;
  padding-left: 1rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

#bloc_recherche > button * {
  color: #fff;
}

#bloc_recherche > button > i {
  display: none;
}

#icone_bloc_recherche {
  background-color: #f2f2f2;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bloc_filtres {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-top: 1rem;
}

#bloc_filtres > h2 {
  font-size: 1rem;
}

#filtres {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  cursor: pointer;
  
}
#filtres:hover > div{
  color: #0065fc;
  background-color: #f2f2f2;
  
}


#filtres > div {
  border-radius: 1.5rem;
  border: solid #f2f2f2;
  height: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-weight: bold;
  padding-right: 1rem;
}

.icone_filtre {
  background-color: #deebff;
  height: 100%;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone_filtre * {
  color: #0065fc;
}

#bloc_info {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#icone_bloc_info {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border: solid #f2f2f2;
  border-radius: 50%;  
}

#bloc_hebergements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 2rem;
}

#bloc_hebergements > div {
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 2rem;
}

#heb_marseille > h1 {
  font-size: 1.5rem;
  margin: 0;
}

#heb_marseille {
  width: 65%;
}

#heb_populaires {
  width: fit-content;
}

#heb_marseille_liste {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 1rem;
  margin-top: 1rem;
}

.un_heb_marseille {
  width: 31%;
  height: fit-content;
  height: -moz-max-content;
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 1rem;
  padding-bottom: 0.8rem;
}

.un_heb_marseille:focus {
  border: solid #0065fc;
}

.un_heb_marseille_img {
  height: 8rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.un_heb_marseille_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description_heb {
  padding-left: 0.6rem;
}

.titre_heb {
  font-size: 1rem;
  font-weight: bold;
}

.sous_titre_heb {
  font-size: 0.8rem;
}

.note_heb > * {
  color: #f2f2f2;
  font-size: 0.9rem;
}

.note_heb > .etoile_plein {
  color: #0065fc;
}

#entete_populaires > h1 {
  font-size: 1.5rem;
  margin: 0;
}

#heb_populaires_liste {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
}

#entete_populaires {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.un_heb_populaire {
  display: flex;
  width: 100%;
  height: 10rem;
  padding: 0.2rem;
  border-radius: 1rem;
  background-color: #fff;
}

.un_heb_populaire:focus {
  border: solid #0065fc;
}

.un_heb_populaire_img {
  width: 45%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}

.un_heb_populaire_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#bloc_activites {
  margin-top: 2rem;
}

#activites_liste {
  display: flex;
  width: 100%;
  height: 35rem;
  justify-content: space-between;
  column-gap: 1.5rem;
}

.une_activite {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 100%;
  width: 25%;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
}

.une_activite:focus {
  border: solid #0065fc;
}

.une_activite_img {
  width: 100%;
  height: 90%;
}

.une_activite_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.une_activite > h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  height: 1.5rem;
}

.colonne_double_activite {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
  width: 25%;
}

#activite_fort_pomegues,
#activite_parc_longchamp {
  width: 100%;
  height: 60%;
}

#activite_iles_frioul,
#activite_notre_dame {
  width: 100%;
  height: 45%;
}

#activite_fort_pomegues > .une_activite_img,
#activite_parc_longchamp > .une_activite_img {
  height: 82%;
}

#activite_iles_frioul > .une_activite_img,
#activite_notre_dame > .une_activite_img {
  height: 74%;
}

footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 1.5rem;
  margin-top: 3rem;
  column-gap: 14rem;
}

.liens_footer h1 {
  font-size: 1.2rem;
}

.liens_footer a {
  display: block;
  margin-top: 1rem;
}
