/* BODY*/
html,
body {
  font-family: raleway;
  padding-left: 30px;
  padding-right: 30px;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.decorationNone {
  text-decoration: none;
}
.bordureNone {
  border: none;
}
.textGras {
  font-weight: bold;
}
.colorBleuClair {
  color: #deebff;
}
.bacKBleu {
  background-color: #0065fc;
}
/* NAV */

.colorliens13 {
  color: blue;
}
.colorlien2 {
  color: black;
}
.bordureNav {
  border-top: 1px solid blue;
}
.bordureNav {
  border-top: 1px solid transparent;
}
.marglogo {
  margin-bottom: 7px;
}
/*HEADER*/
.blocRecherche {
  display: flex;
  height: 50px;
  width: max-content;
  border: #f2f2f2 5px solid;
  border-radius: 10px;
  align-items: center;
}
.blocRechercheInput {
  border-style: none;
  font-weight: bold;
}
.blocRechercheInput:focus {
  outline: none;
}
.blocIconRecherche {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  height: 100%;
  width: 50px;
  align-items: center;
}
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
  align-content: center;
}
.paddingSearch {
  padding-left: 20px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.iconSize {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  text-align: center;
}
.buttonSearch i {
  display: none;
}
.barreNavigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  flex-wrap: wrap;
  position: relative;
}
.menuNavigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 50px;
}
/*logoreservia*/
.logo {
  height: 50px;
  flex-wrap: wrap;
}
.logo > * {
  height: 100%;
}
.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*Hebergements*/
.hebergements {
  width: 100%;
  justify-content: center;
  display: flex;
  column-gap: 10px;
  row-gap: 5px;
}

.bloc1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blocHebergements {
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}

.cubeHebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  flex-wrap: wrap;
}
.cubeHebergements:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.imgHebergements1 {
  display: flex;
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.imgHebergements2 {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.imgHebergements3 {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.imgHebergements4 {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.imgHebergements5 {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.imgHebergements6 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  flex-wrap: wrap;
}
.colorBleu {
  color: #0065fc;
}
.colorGris {
  color: gray;
}
/* Filtre*/
.blocFiltre {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  column-gap: 50px;
  row-gap: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}
.unFiltre {
  border: #f2f2f2 2px solid;
  border-radius: 40px;
}

.unFiltre:hover > .filtreTexte {
  color: #0065fc;
}
.unFiltre:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.filtreTexte {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
.filtreIcons {
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #0065fc;
  background-color: #deebff;
  align-items: center;
  justify-content: center;
}
.FiltreTexticons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
/*Populaire*/
.blocPopulaires {
  padding-right: 20px;
  justify-content: center;
  width: 30%;
  background-color: #f2f2f2;
  height: 650px;
  border-radius: 10px;
}
.blocPopulaires12 {
  margin-bottom: 22px;
}
.cubePopulaires {
  display: flex;
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}
.cubePopulaires:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.cubeDetailsPopulaires {
  width: 60%;
  padding-left: 5%;
}
.imgPopulaires1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  flex-wrap: wrap;
}
.imgPopulaires2 {
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  flex-wrap: wrap;
}
.imgPopulaires3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
  flex-wrap: wrap;
}
/*Avtivites*/
.Activites {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.blocActivites {
  display: flex;
  width: 100%;
  height: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blocActivites2356 {
  width: 80%;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.cubeActivites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 1px #f2f2f2;
  flex-wrap: wrap;
  overflow: hidden;
}
.cubeActivites:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.hauteurTitre {
  height: 70px;
}

.cubeActivites2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 1px #f2f2f2;
  overflow: hidden;
}
.cubeActivites2356:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.titreActivites {
  display: flex;
  height: 70px;
  justify-content: start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
.imgActivites1 {
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  flex-wrap: wrap;
}
.imgActivites2 {
  background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
}
.imgActivites3 {
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 150px;
  flex-wrap: wrap;
  float: left;
}
.imgActivites4 {
  background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  flex-wrap: wrap;
}
.imgActivites5 {
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 150px;
  flex-wrap: wrap;
}
.imgActivites6 {
  display: flex;
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 150px;
  flex-wrap: wrap;
}
/* footer*/
.footer {
  display: flex;
  height: 300px;
  margin-top: 200px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blocfooter {
  height: 150px;
  padding-left: 5%;
  padding-right: 15%;
}
/*responsive*/
