/* general */
html, body{
    font-family: raleway;
}
.flexcentre {
	display: flex;
   justify-content:center;
   align-items:center;
} 
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.decorationNone {
    text-decoration:none;
}
.bordureNone{
    border: none;
}
.textGras{
    font-weight: bold;
    
}
.colorBleuClair{
    color: #deebff;
}
.bacKBleu{
    background-color: #0065fc;
}
.bacKGris{
    background-color: #f2f2f2;
}
/* NAV */
.sizeNav {
    height: 100px;
}

.sizeliens{
    width: 45%;
}
.sizelien{
    width: 140px;
    height: 99px;
}
.colorliens13 {
    color: blue;
}
.colorlien2 {
    color:black;
}
.bordureNav{
border-top: 1px solid blue;
}
.bordureNav{
    border-top: 1px solid transparent;
}
.marglogo{
    margin-bottom: 7px;
}
/*HEADER*/
.bordureSearch
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;

}
.paddingSearch{
    padding-left: 20px;
}
.recherche{
    height: 50px ;
    width: 230px ;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize {
   height: 50px;
   width:50px ;
   border-radius: 10px 0 0 10px;
}
.buttonSearch{
    height: 50px;
    width: 120px;
    color: black;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
