@media only screen and (max-width: 1024px) {
  html,
  
  .menu_inscrire {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .logo {
    width: 100%;
  }

  .menuNavigation {
    width: 100%;
  }
  .blocFiltre{
    display: flex;
    
  }

  .buttonSearch span {
    display: none;
  }

  .buttonSearch i {
    display: block;
  }

  .buttonSearch {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 10px 10px;
  }
  .blocfooter {
    margin-top: 50px;
  }
  .hebergements > * {
    height: fit-content;
  }
  .hebergements {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .blocPopulaires {
    width: 100%;
  }
  .imgPopulaires1,
  .imgPopulaires2,
  .imgPopulaires3 {
    width: 60%;
    background-position: center;
  }
}
@media screen and (max-width: 770px) {
  .blocFiltre {
    
    height: auto;
    align-items: flex-start;
  }
  .info {
    align-items: flex-start;
  }
  .blocHebergements {
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 0;
  }
  .sizeHebergements {
    width: 90%;
  }

  .bloc1 {
    margin-bottom: 0;
  }

  .cubePopulaires {
    margin-bottom: 0;
    

  }

  .cubeHebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocPopulaires{
	  padding-left: 0px;
    margin-top: 0%; 
  }
  .cubeDetailsPopulaires{
    width: 100%;
    
  }
  .blocActivites {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    width: 100%;
  
  }
  .cubeActivites {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocActivites2356 {
    width: 100%;
    height: auto;
  }
  .cubeActivites2356 {
    margin-bottom: 50px;
  }

  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    height: 200px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  
  }
 
}

@media screen and (max-width: 375px) {
  .menuNavigation {
    margin: auto;
  }

  .buttonSearch {
    border-radius: 10px 10px;
  }
  .body {
    margin:0;
    font-family: "raleway", sans-serif;
  }
  .blocActivites {
    width: 100%;
  }
  .blocFiltre{
	display: flex;
  }
  .bloc1{
    width: 100%;
  }
  .blocActivites > * {
    height: fit-content;
}
.blocPopulaires
{
  width: 90%;
  flex: none;
  margin-left: 0;
  padding: 5%;
}
}
